jupyterlab>=2.0
notebook>=6.0
jupyter_server_proxy
tornado>=6.4.1 # not directly required, pinned by Snyk to avoid a vulnerability
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
